:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --titel-text-color: #ffffff;
  --buttons-bg-color: #f5f4fa;
  --animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Утилиты */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Хедер */
.page-header {
  border-bottom: 1px solid #ececec;
}

/* Логотип */
.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__text {
  color: var(--primary-text-color);
}

/* Навигация */
.main-nav {
  display: flex;
  align-items: center;
}

.page-header__nav {
  display: flex;
}

.site-nav {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms var(--animation-timing);

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  position: relative;

  color: var(--accent-color);
}

.site-nav__link--current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* Контакты */
.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms var(--animation-timing);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);
}

.contacts__icon {
  margin-right: 10px;

  transition: fill 250ms var(--animation-timing);
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/* Герой */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bgh.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__titel {
  margin: 0 auto 30px auto;
  max-width: 700px;

  color: var(--titel-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  display: inline-block;
  border: transparent;
  padding: 10px 32px;

  transition: background-color 250ms var(--animation-timing);

  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--titel-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.hero__button:hover,
.hero__button:focus {
  background-color: #188ce8;
}

/* Преимущества */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantage {
  padding-top: 94px;
}

.advantage__list {
  display: flex;
  padding-bottom: 0;
}

.advantage__item {
  width: 270px;
  margin-right: 30px;
}

.advantage__item:nth-child(4n) {
  margin-right: 0;
}

.advantage__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.advantage__titel {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantage__text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
}

/* Бекдроп */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms var(--animation-timing);

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms var(--animation-timing);
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  padding: 40px 0;

  background: var(--titel-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop__titel {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: var(--primary-text-color);
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;

  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill 250ms var(--animation-timing);

  padding: 0;
  background-color: var(--titel-text-color);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
}

.backdrop-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 448px;
}

.backdrop-form__field {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  position: relative;
}

.backdrop-form__field:first-child {
  margin-top: 12px;
}

.backdrop-form__label {
  display: block;
  margin: 0 0 4px 0;
  padding: 0;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}

.backdrop-form__input {
  width: 100%;
  margin: 0;
  padding: 10px 10px 10px 42px;

  transition: border-color 250ms var(--animation-timing);

  color: #000000;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.backdrop-form__input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  cursor: pointer;
  fill: var(--accent-color);
}

.backdrop-form__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  transition: fill 250ms var(--animation-timing);

  fill: var(--primary-text-color);
}

.backdrop-form__input:focus + .backdrop-form__icon {
  fill: var(--accent-color);
}

.backdrop-form__textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin: 0;
  resize: none;
  cursor: pointer;

  transition: border-color 250ms var(--animation-timing);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.backdrop-form__textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.backdrop-form__textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.checkbox__icon {
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  transition: border-color 250ms var(--animation-timing),
    background-color 250ms var(--animation-timing);

  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
}

.checkbox__input:checked + .checkbox__icon {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.checkbox__accept {
  font-size: 14px;
  line-height: 24px;

  color: var(--secondary-text-color);
}

.checkbox__conditions {
  color: var(--accent-color);
}

.send-btn {
  display: block;
  padding: 10px 55px;
  margin: 30px auto 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  border: transparent;
  cursor: pointer;

  transition: background-color 250ms var(--animation-timing),
    box-shadow 250ms var(--animation-timing);

  background-color: var(--accent-color);
  color: var(--titel-text-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.send-btn:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Заголовок секций "Чем мы занимаемся" и "Наша команда"*/
.about-us {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-titel {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.services {
  display: flex;
  padding-top: 0;
}

.services__item {
  margin-right: 30px;

  position: relative;
}

.services__item:last-child {
  margin-right: 0;
}

.photo {
  display: block;
}

.services__description {
  width: 100%;

  position: absolute;
  left: 0;
  bottom: 0;

  text-align: center;
  background: rgba(47, 48, 58, 0.8);
}

.services__text {
  margin: 27px 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  color: var(--titel-text-color);
}

/* Команда */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-list__item {
  margin-right: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.team-list__item:last-child {
  margin-right: 0;
}

.information {
  padding-top: 30px;
  padding-bottom: 30px;
}

.information__titel {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.information__text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.social-networks {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  padding: 0;
  align-items: center;
}

.social-networks__item {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 10px;
  min-height: 44px;
  min-width: 44px;
  border-radius: 50%;
}

.social-networks__item:last-child {
  margin-right: 0;
}

.social-networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 44px;
  min-width: 44px;

  transition: fill 250ms var(--animation-timing), background-color 250ms var(--animation-timing);

  border-radius: 50%;
  fill: #afb1b8;
}

.social-networks__link:hover,
.social-networks__link:focus {
  background-color: var(--accent-color);
  fill: var(--titel-text-color);
}

/* Постоянные клиенты */
.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.customers-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  padding: 0;
  width: 170px;
  height: 92px;

  transition: border 250ms var(--animation-timing);

  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.customers-list__item:last-child {
  margin-right: 0;
}

.customers-list__item:hover,
.customers-list__item:focus {
  border: 1px solid var(--accent-color);
}

.customers-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;

  transition: fill 250ms var(--animation-timing);

  border-radius: 4px;
  fill: #afb1b8;
}

.customers-list__link:hover,
.customers-list__link:focus {
  fill: var(--accent-color);
}

/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.footer-container {
  display: flex;
  align-content: baseline;
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.contacts-container {
  margin-right: 70px;
  width: 231px;
}

.logo__text--white {
  color: var(--titel-text-color);
}

.address {
  color: var(--titel-text-color);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}

.address__text {
  margin: 0 0 9px 0;
}

.address__link {
  display: block;
  margin: 0;
  margin-bottom: 9px;

  transition: color 250ms var(--animation-timing);

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address__link:hover,
.address__link:focus {
  color: var(--buttons-bg-color);
}

.address__link:last-child {
  margin-bottom: 0;
}

.join-text {
  margin: 12px 0 20px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--titel-text-color);
}

.social-networks--footer {
  margin: 0 93px 0 0;
}

.social-networks__item:last-child {
  margin-right: 0;
}

.social-networks__item--dark {
  background: rgba(255, 255, 255, 0.1);
}

.social-networks__link--white {
  fill: var(--titel-text-color);
}

.footer-form {
  display: flex;
}

.footer-form__input {
  width: 358px;
  padding: 15px 16px;
  margin: 0;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  transition: 250ms var(--animation-timing);

  color: var(--titel-text-color);
  background-color: #2f303a;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 20px;

  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.mailing-btn {
  width: 200px;
  padding: 10px 29px;
  margin: 0 0 0 12px;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: start;
  letter-spacing: 0.06em;

  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--titel-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  background-image: url(../images/icon-send.svg);
  background-repeat: no-repeat;
  background-position: 148px 13px;
}

/* ПОРТФОЛИО */

/* Фильтр */
.container-portfolio {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.filter {
  display: flex;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.filter-button {
  margin-right: 8px;
}

.filter-button:last-child {
  margin-right: 0;
}

.filter-list {
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;

  transition: box-shadow 250ms var(--animation-timing),
    background-color 250ms var(--animation-timing), color 250ms var(--animation-timing);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  background-color: var(--buttons-bg-color);
  color: var(--primary-text-color);
}

.filter-list:hover,
.filter-list:focus {
  background-color: var(--accent-color);
  color: var(--titel-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-section {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
}

.works {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.works:nth-child(3n) {
  margin-right: 0;
}

.works:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.works-info {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: transparent;

  position: relative;
  z-index: 1;

  background-color: var(--titel-text-color);
}

/* Примеры работ */
.project-link {
  display: block;

  position: relative;
  transition: color 250ms var(--animation-timing), box-shadow 250ms var(--animation-timing);

  color: var(--primary-text-color);
  text-decoration: none;

  overflow: hidden;
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:hover .description-anim,
.project-link:focus .description-anim {
  transform: translateY(0);
}

.description-anim {
  width: 100%;
  height: 294px;
  margin: 0 0 0 0;

  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(101%);
  transition: transform 250ms var(--animation-timing);

  background: rgba(33, 150, 243, 0.9);
}

.description-anim p {
  margin: 0;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 28px;
  color: var(--titel-text-color);
}

.works .titel {
  margin: 0 0 4px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works .text {
  margin: 0;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.9;
}
